<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Time Location Tracking</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9V9cKd0wmd6xavCSCFTQwuoXIJyoN5o4"></script>  
</head>


<body>

    <h1>Real Time Location Tracking</h1>

    <div id="maps"></div>


    
</body>


<script>
    var display_map;
    var marker;
    var lat = 0;    
    var lon = 0;

    function initMap() {

        var initiallocation = {lat: 0, lng: 0};
        
    }
</script>
</html>